Cargar librerias y dataframe

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("All_Pokemon.csv", index_col='Name')

Letra A

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1034 entries, Bulbasaur to Kangaskhan
Data columns (total 43 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Number                   1034 non-null   int64
 1   Type 1                   1034 non-null   object
 2   Type 2                   549 non-null    object
 3   Abilities                1034 non-null   object
 4   HP                       1034 non-null   int64
 5   Att                      1034 non-null   int64
 6   Def                      1034 non-null   int64
 7   Spa                      1034 non-null   int64
 8   Spd                      1034 non-null   int64
 9   Spe                      1034 non-null   int64
 10  BST                      1034 non-null   int64
 11  Mean                     1034 non-null   float64
 12  Standard Deviation       1034 non-null   float64
 13  Generation               1034 non-null   float64
 14  Experience type          1034 non-null   object
 15  Experience to level 100  1034 non-null   int64
 16  Final Evolution          1034 non-null   float64
 17  Catch Rate               1034 non-null   int64
 18  Legendary                1034 non-null   float64
 19  Mega Evolution           1034 non-null   float64
 20  Alolan Form              1034 non-null   float64
 21  Galarian Form            1034 non-null   float64
 22  Against Normal           1034 non-null   float64
 23  Against Fire             1034 non-null   float64
 24  Against Water            1034 non-null   float64
 25  Against Electric         1034 non-null   float64
 26  Against Grass            1034 non-null   float64
 27  Against Ice              1034 non-null   float64
 28  Against Fighting         1034 non-null   float64
 29  Against Poison           1034 non-null   float64
 30  Against Ground           1034 non-null   float64
 31  Against Flying           1034 non-null   float64
 32  Against Psychic          1034 non-null   float64
 33  Against Bug              1034 non-null   float64
 34  Against Rock             1034 non-null   float64
 35  Against Ghost            1034 non-null   float64
 36  Against Dragon           1034 non-null   float64
 37  Against Dark             1034 non-null   float64
 38  Against Steel            1034 non-null   float64
 39  Against Fairy            1034 non-null   float64
 40  Height                   1034 non-null   float64
 41  Weight                   1034 non-null   float64
 42  BMI                      1034 non-null   float64
dtypes: float64(29), int64(10), object(4)
memory usage: 355.4+ KB

In [36]:
df.describe()

,Number,HP,Att,Def,Spa,Spd,Spe,BST,Mean,Standard Deviation,...,Against Bug,Against Rock,Against Ghost,Against Dragon,Against Dark,Against Steel,Against Fairy,Height,Weight,BMI
count,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,...,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000
mean,440.117021,69.930368,80.544487,74.590909,72.908124,72.159574,68.609284,438.742747,73.123791,20.028863,...,1.003143,1.239362,1.025629,0.974855,1.075677,0.991538,1.094052,1.287137,71.838491,136.528723
std,262.398946,26.188367,32.514268,30.885981,32.764971,27.603097,30.225102,120.577842,20.096307,10.819824,...,0.613302,0.698763,0.578387,0.377676,0.475708,0.511592,0.534657,1.390564,132.753724,3108.656552
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,175.000000,29.166667,0.000000,...,0.250000,0.250000,0.000000,0.000000,0.250000,0.250000,0.250000,0.100000,0.100000,0.000000
25%,212.000000,50.000000,55.250000,50.000000,50.000000,50.000000,45.000000,330.000000,55.000000,12.808683,...,0.500000,1.000000,1.000000,1.000000,1.000000,0.500000,1.000000,0.600000,9.000000,18.600000
50%,435.500000,67.000000,78.000000,70.000000,65.000000,70.000000,65.000000,460.000000,76.666667,18.531071,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,29.750000,28.350000
75%,668.750000,83.000000,100.000000,90.000000,95.000000,90.000000,90.000000,515.000000,85.833333,24.830537,...,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.600000,71.425000,42.200000
max,900.000000,255.000000,190.000000,230.000000,194.000000,230.000000,200.000000,780.000000,130.000000,103.215659,...,4.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000,20.000000,999.900000,99990.000000

Letra B Encontrando Duplicados

In [76]:
duplicados=df[df.duplicated()]

letra C

In [78]:
df.isnull().any()

Number                     False
Type 1                     False
Type 2                      True
Abilities                  False
HP                         False
Att                        False
Def                        False
Spa                        False
Spd                        False
Spe                        False
BST                        False
Mean                       False
Standard Deviation         False
Generation                 False
Experience type            False
Experience to level 100    False
Final Evolution            False
Catch Rate                 False
Legendary                  False
Mega Evolution             False
Alolan Form                False
Galarian Form              False
Against Normal             False
Against Fire               False
Against Water              False
Against Electric           False
Against Grass              False
Against Ice                False
Against Fighting           False
Against Poison             False
Against Ground             False
Against Flying             False
Against Psychic            False
Against Bug                False
Against Rock               False
Against Ghost              False
Against Dragon             False
Against Dark               False
Against Steel              False
Against Fairy              False
Height                     False
Weight                     False
BMI                        False
dtype: bool

In [82]:
filas_nulas = df[df.isnull().any(axis=1)]
filas_nulas.count()

Number                     485
Type 1                     485
Type 2                       0
Abilities                  485
HP                         485
Att                        485
Def                        485
Spa                        485
Spd                        485
Spe                        485
BST                        485
Mean                       485
Standard Deviation         485
Generation                 485
Experience type            485
Experience to level 100    485
Final Evolution            485
Catch Rate                 485
Legendary                  485
Mega Evolution             485
Alolan Form                485
Galarian Form              485
Against Normal             485
Against Fire               485
Against Water              485
Against Electric           485
Against Grass              485
Against Ice                485
Against Fighting           485
Against Poison             485
Against Ground             485
Against Flying             485
Against Psychic            485
Against Bug                485
Against Rock               485
Against Ghost              485
Against Dragon             485
Against Dark               485
Against Steel              485
Against Fairy              485
Height                     485
Weight                     485
BMI                        485
dtype: int64